body{background-color: rgb(138, 117, 117);}
h1{text-align: center;}
img{
    height: 250px;
    width: 250px;
}
.tt{text-align: center;}
.rr{text-align: right;}
.jj{text-align: right;}
.kk{text-align: right;}
p{text-align: center;}